<footer>
  <section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="block">
                <div class="footer-menu">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/contact.html">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/help.html">Help</a></li>
                  </ul>
                </div><!-- footer-menu -->
                <p class="footer-base">Copyright &copy; 2018 &nbsp;&nbsp;&nbsp;<a id="masthead" href="{{ site.baseurl }}/">{{ site.title }}</a> &nbsp;&nbsp;&nbsp;All rights reserved &nbsp;&nbsp;&nbsp;<i>Powered by </i><a id="webmaster" href="https://www.techhandie.com">TechHandie Corp</a></p>
              </div><!-- block -->
            </div><!-- md12 -->
        </div><!-- row -->
    </div><!-- container -->
  </section>
</footer>  