<header>
    <section id="header">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h1><a class="masthead" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
              </div><!--md4-->
              <div class="col-md-8"
                <div class="pull-right">
                  <ul class="nav nav-pills pull-right">
                      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/dreamer.html">Dreamer</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/maverick.html">Maverick</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/poet.html">Poet</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/disciple.html">Disciple</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/technophile.html">Technophile</a></li>
                  </ul>  
                </div><!--pull-right-->
              </div><!-- md8 -->  
            </div><!--row-->  
        </div><!--container-->  
    </section><!--header-->
</header>