/**************************/
/* Custom Variables Start */
/**************************/

// Colors
$charcoal: #222222;
$slate: #c2c2c2;
$light-grey: #eaeaea;
$med-light-grey: #ebebeb;
$med-grey: #a4a4a4;
$slate: #212529;

$obsidian: #0d0d26;
$sky-water: #75c3eb;
$water: #f2f2f2;
$reflect: #eefae1;;
$reflect-sky: #325c8f;
$ocean: #428bca;

$sunny: #f0e337;
$hotpink: #ff0080;

//Font Sizes
$font-pica: 0.375em; /*6px*/
$font-xsm: 0.5em; /*8px*/
$font-sml: 0.625em; /*10px*/
$font-nrm: 0.75em; /*12px*/
$font-std: 1em; /*16px*/
$font-md: 1.125em; /*18px*/
$font-bg: 1.25em; /*20px*/
$font-xbg: 1.5em; /*24px*/
$font-lg: 1.75em; /*28px*/
$font-xlg: 2em; /*32px*/
$font-xxlg: 2.125em; /*34px*/
$font-xxx: 2.25em; /*36px*/
$font-sup: 2.5em; /*40px*/

/**************************/
/* Custom Variables End   */
/**************************/